body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  display: inline-block;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#submitBtn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.5em;
  background-color: #000;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
}

#file-selector {
  border: 1px solid #000;
  padding: 9px 20px;
  margin-right: 6px;
  border-radius: 0.5em;
}

#table {
  display: block;
  margin-top: 20px;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}
